<header id="container">
    <canvas id="hero-bar" class="chart chart-line" chart-options="topOptions" chart-data="topData" chart-labels="topLabels"></canvas>
    <div id="header">
        <h1>Chart Maker</h1>
        <h2>Need A Chart ? Let's Go !</h2>
    </div>
    <button type="button" class="btn btn-success btn-lg">
        Let's Go !
    </button>
</header>
<div class="container">
    <div class="col-sm-6">
        <div class="col-sm-12" uib-dropdown is-open="status.isopen">
            <button id="single-button" type="button" class="btn btn-primary" uib-dropdown-toggle ng-disabled="disabled">
                {{Data.selectedType || 'Choose Type Of Chart'}} <span class="caret"></span>
            </button>


            <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                <li ng-repeat="chartType in Data.chartTypes" role="menuitem"><a ng-click="Func.onSelectChartType(chartType)" href="#">{{chartType}}</a></li>
            </ul>
            <button ng-click="Func.generateByType()" type="button" class="btn btn-success">
                Generate <span  class="glyphicon glyphicon-ok"></span>
            </button>
        </div>

        <div class="col-sm-6" ng-switch="Data.selectedType">
            <div ng-switch-when="Pie">
                <label style="display: block">Input Your Labels</label>
                <input style="display: inline-block" ng-model="Data.newLabel" class="form-control" type="text"><span style="right: 20px;" ng-click="Func.onAddLabelClick(Data.newLabel)" class="glyphicon glyphicon-plus"></span>
                <ul>
                    <li class="showLabels" ng-repeat="label in Data.pieDetails.labels">
                        {{label}}<span ng-click="Func.onRemoveLabelClick(label)" style="top: 2px; left: 2px;" class="glyphicon glyphicon-remove text-danger"></span>
                    </li>
                    <li ng-class="{'has-error': !Data.dataAdded}" class="showDataInputs" ng-repeat="data in Data.pieDetails.data track by $index">
                        <label style="display: block">Input The {{Data.pieDetails.labels[$index]}} Tag's Data</label>
                        <input ng-model="newData" value="0" class="form-control"  type="text"><span ng-click="Func.onAddDataClick(newData)" class="glyphicon glyphicon-ok"></span>
                    </li>
                </ul>

            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <canvas id="pie" class="chart chart-pie" chart-data="Data.data" chart-labels="Data.labels"></canvas>
    </div>
</div>