#container{
    position: relative;
    text-align: center;
}
#hero-bar {
    height: 50vh !important;
    margin-top: 50px;
}
#header{
    position: absolute;
    top: 20vh;
    width: 100%;
    text-align: center;
}
#container .btn-primary{
    bottom: 25px;
    position: relative;
}
.btn-group{
    margin-bottom: 20px;
}
.glyphicon-plus, .showDataInputs .glyphicon-ok{
    position: absolute;
    right: 10px;
    top: 35px;
}
ul{list-style: none; padding: 0; margin: 0}
li.showLabels{display: inline-block; padding: 3px 10px; background: lightblue; margin: 5px; border-radius: 3px}
.showDataInputs{
    position: relative;
    z-index: 1;
}
.showDataInputs .glyphicon-chevron-right{
    position: absolute;
    top: 30px;
    left: -35px;
    font-size: 26px;
}
.chartPie{
    float: none;
    margin: auto;
    z-index: 0;
}
span[role=button]:hover{cursor: pointer}